  <div class="modal fade" id="elegantModalLogin" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <form action="/sign-in" method="POST">
        <div class="form-group mb-4">
            <div class = "input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>                    
                </div> 
          <input type="email" name = "email" id="Form-email1" class="form-control validate" placeholder="Username">
        </div>
        </div>
        <div class="form-group pb-3">
            <div class = "input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </span>                    
                </div> 
          <input type="password" name = "password" id="Form-pass1" class="form-control validate" placeholder="Password">
          </div>
          <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1">
              Password?</a></p>
        </div>
      
        <div class="text-center mb-3">
          <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
        </div>
        </form>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in
           Google:</p>

        <div class="row my-3 d-flex justify-content-center">
          <!--Google-->
          <a  href = "/auth/google" type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fa fa-google-plus-square"></i></a>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="#" data-dismiss="modal" data-toggle="modal" class="blue-text ml-1" data-target="#elegantModalSignUp">
            Sign Up</a></p>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="elegantModalSignUp" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign Up</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <form action="/sign-up" method="POST">
          <div class="form-group mb-5">
              <div class = "input-group">
              <div class="input-group-prepend">
                      <span class="input-group-text">
                          <span class="fa fa-user"></span>
                      </span>                    
                  </div> 
            <input type="name" name = "name"  class="form-control validate" placeholder="Name" required>
          </div>
          </div>
        <div class="form-group mb-5">
            <div class = "input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-envelope"></span>
                    </span>                    
                </div> 
          <input type="email" name = "email"  class="form-control validate" placeholder="Email" required>
        </div>
        </div>
        <div class="form-group pb-3">
            <div class = "input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </span>                    
                </div>
          <input type="password" name = "password"  class="form-control validate" placeholder="Password" required>
      </div>
            </div>
        <div class="form-group pb-3">
             <div class = "input-group">
            <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-lock"></span>
                    </span>                    
                </div>
          <input type="password" name = "confirm_password" class="form-control validate" placeholder="Confirm Password" required>
      </div>
       </div>   
        <div class="form-group-form pb-3">
          <label class="form-check-label"><input type="checkbox" required="required"><span class = "font-small"> I accept the <a href="#">Terms &amp; Conditions</a></span></label>
          </div>
        <div class="text-center mb-3">
          <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign Up</button>
        </div>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand"><b>Home</b></a>       
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        
        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown">
                <a href="#" data-toggle="modal" class="nav-link mr-4" data-target="#elegantModalLogin" >Login</a>
            </div>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="modal" class="btn btn-primary sign-up-btn" data-target="#elegantModalSignUp">Sign up</a>
            </div>
        </div>
    </div>
</nav>

