<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title><%= title %></title>
<!-- Adding bootstrap css -->
<link rel="stylesheet" href="/bootstrap.min.css">

<!-- Importing Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Adding home.css -->
<link rel="stylesheet" href="/home.css">
<!-- Adding jquery -->
<script type="text/javascript" src="/jquery.min.js"></script>

<!-- Adding Popper.js -->
<script type = "text/javascript" src="/popper.min.js"></script>

<!-- Adding bootstrap.min.js -->
<script type = "text/javascript" src="/bootstrap.min.js" ></script>
</head>
<body>
<%- body %>
</body>
</html>