.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; }
.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}
.input-group-prepend .fa {
    font-size: 18px;
}
.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}
.navbar .logout-btn {
    min-width: 110px;
    max-height: 36px;
}

@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
}
.container {
    margin-top: 20px
}
.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}
.scroll-area-sm {
    height: 288px;
   
    overflow-x: hidden

}
.content {
    padding: 1rem;
    flex-direction: row;
    align-items: center
}

.content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center
}

.content-right {
    margin-left: auto
}
.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}
.date {
    font-size: 9px;
    color: gray
}
.fs-12 {
    font-size: 12px
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  #containerInfo h6,
  #containerInfo p {
      display: inline;
  }

